
<script type="text/ng-template" id="edit.dependant.html">
   <div>
      <div class="modal-header">
         <h3 class="modal-title">Edit {{client.dependant.name}}'s details
      <div class="modal-body">
         <div class="row">
            <div class="col-md-12">
                 <div class="form-group">
                    <label class="font-dark md-font">Dependant name</label>
                     <div class="row">
                       <div class="col-md-12">
                        <div class="">
                           <input type="text" class="form-control" placeholder="Dependant name" ng-model="client.dependant.name" required>
                        </div>
                       </div>
                     </div>
                 </div>
            </div>
         </div>
      </div>
      <div class="modal-footer">
         <button class="btn btn-green" type="button" ng-click="ok()">OK</button>
         <button class="btn btn-red" type="button" ng-click="cancel()">Cancel</button>
      </div>
   </div>
</script>
<script type="text/ng-template" id="create.dependant.html">
   <div>
      <div class="modal-header">
         <h3 class="modal-title">Add your dependants</h3>
      </div>
      <div class="modal-body">
         <div class="row">
            <div class="col-md-12">
                 <div class="form-group">
                    <label class="font-dark md-font">Dependants </label>
                     <div class="row">
                       <div class="col-md-12">
                        <div class="">
                           <input type="text" class="form-control" placeholder="Dependant name" ng-model="client.name" required>
                        </div>
                       </div>
                     </div>
                 </div>
                 <div class="form-group">

                    <div class="row">
                       <div class="col-md-4 col-md-offset-5">

                          <button class="btn btn-blue round" type="button">
                             <i class="fa fa-plus"></i>
                          </button>
                       </div>

                    </div>
                 </div>
            </div>
         </div>
      </div>
      <div class="modal-footer">
         <button class="btn btn-green" type="button" ng-click="ok()">Create</button>
         <button class="btn btn-red" type="button" ng-click="cancel()">Cancel</button>
      </div>
   </div>
</script>
<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="#!/home" class="simple-text">
                    RPC
                </a>
            </div>

            <ul class="nav">
              <li>
                   <a href="#!/home">
                       <i class="ti-panel"></i>
                       <p>Dashboard</p>
                   </a>
               </li>
               <li >
                   <a href="#!/planner/bio">
                       <i class="ti-user"></i>
                       <p>My Bio</p>
                   </a>
               </li>
               <li>
                   <a href="#!/planner/work">
                       <i class="ti-briefcase"></i>
                       <p>Work</p>
                   </a>
               </li>
               <li class="active">
                   <a href="#!/planner/dependants">
                       <i class="fa fa-child"></i>
                       <p>Dependants</p>
                   </a>
               </li>
               <li>
                   <a href="#!/planner/pension-fund">
                       <i class="fa fa-money"></i>
                       <p>Pension Fund</p>
                   </a>
               </li>
               <li>
                   <a href="#!/planner/cash-in-flow">
                       <i class="fa fa-sign-in"></i>
                       <p>Cash in flow</p>
                   </a>
               </li>
               <li>
                   <a href="#!/planner/cash-out-flow">
                       <i class="fa fa-sign-out"></i>
                       <p>Cash out flow</p>
                   </a>
               </li>
               <li>
                   <a href="#!/planner/liabilities">
                       <i class="ti-stats-down"></i>
                       <p>liabilities</p>
                   </a>
               </li>
               <li>
                   <a href="">
                       <i class="ti-bell"></i>
                       <p>Notifications</p>
                   </a>
               </li>
				<!--<li class="active-pro">
                    <a href="upgrade.html">
                        <i class="ti-export"></i>
                        <p>Upgrade to PRO</p>
                    </a>
                </li>-->
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand font-white" href="#/#!/planner/dependants">Dependants</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <!--<li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-panel"></i>
								<p>Stats</p>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="ti-bell"></i>
                                    <p class="notification">5</p>
									<p>Notifications</p>
									<b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                              </ul>
                        </li>-->
						<li>
                            <a href="#/signout">
								<i class="ti-settings font-white"></i>
								<p class="font-white">Sign Out</p>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                        <dependants></dependants>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">

                    </div>
                </div>

            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>

                        <li>
                            <a href="#/website/home">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright pull-right">
                    Retirement Planning Center
                </div>
            </div>
        </footer>

    </div>
</div>
