<div class="card" >
<div class="header">
    <h3 class="title"><strong>Dependants Data</strong></h3>
</div>
<div class="content">
    <ul class="list-unstyled team-members" ng-hide="hasDependants">
        <li >
              <div class="row" >
                  <div class="col-lg-12 col-md-9 col-xs-8">
                      <div class="alert alert-info">
                          <button type="button" aria-hidden="true" class="close">×</button>
                          <span><b> Info - </b> You have no informaion about your dependants.</span>
                      </div>

                  </div>
                  <div class="col-lg-9 col-md-9 col-xs-8">
                      <span class="font-medium"><strong>No dependants details available</strong></span>
                      <p>
                          Add your dependants details here.
                      </p>
                  </div>
                  <div class="col-lg-3 col-md-3 col-xs-4">
                      <button ng-click="createDependantsModal()" class="btn btn-blue"><i class="ti ti-add"></i>Add</button>

                  </div>
              </div>
          </li>

    </ul>

    <ul class="list-unstyled team-members" ng-show="hasDependants">
        <li>
            <div class="row">

                <div class="col-md-5 col-md-offset-5 col-xs-4">
                    <button ng-click="createDependantsModal()" class="btn btn-green"><i class="ti ti-add"></i>Add dependants</button>

                </div>
            </div>
        </li>
        <li ng-repeat="dependant in client.dependants">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-xs-7">
                    <p>
                        {{dependant.name}}
                    </p>
                </div>
                <div class="col-lg-4 col-md-5 col-xs-5">
                    <button class="btn btn-blue" ng-click="editDependantsModal(undefined, dependant)"><i class="ti ti-pencil"></i>Edit</button>
                    <button class="btn btn-red" ng-click="deleteDependant(dependant.id)"><i class="ti ti-trash"></i>Delete</button>
                </div>
            </div>
        </li>

    </ul>
</div>
</div>
