<div class="card" >
<div class="header">
    <h3 class="title"><strong>Cash in flow data</strong></h3>
</div>
<div class="content">
    <ul class="list-unstyled team-members" ng-hide="hasCashInFlow">
        <li >
              <div class="row" >
                  <div class="col-lg-12 col-md-9 col-xs-8">
                      <div class="alert alert-info">
                          <button type="button" aria-hidden="true" class="close">×</button>
                          <span><b> Info - </b> You have no informaion about your cash in flow.</span>
                      </div>

                  </div>
                  <div class="col-lg-9 col-md-9 col-xs-8">
                      <span class="font-medium"><strong>No cash in flow details available</strong></span>
                      <p>
                          Add your cash in flow here.
                      </p>
                  </div>
                  <div class="col-lg-3 col-md-3 col-xs-4">
                      <button ng-click="createCashInFlowModal()" class="btn btn-blue"><i class="ti ti-add"></i>Add</button>

                  </div>
              </div>
          </li>

    </ul>

    <ul class="list-unstyled team-members" ng-show="hasCashInFlow">
        <li>
            <div class="row">
                <div class="col-lg-8 col-md-7 col-xs-7">
                    <span class="font-medium"><strong>Pension contributions</strong></span>
                    <p>
                        {{client.currency}} {{client.cashInFlow.pensionContributions | number}}
                    </p>
                </div>
                <div class="col-lg-4 col-md-5 col-xs-5">
                    <button class="btn btn-blue" ng-click="editPensionContributions()"><i class="ti ti-pencil"></i>Edit</button>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-lg-8 col-md-7 col-xs-7">
                    <span class="font-medium"><strong>Insurance Policy premiums</strong></span>
                    <p>
                        {{client.currency}} {{client.cashInFlow.insurancepolicyPremiums | number}}
                    </p>
                </div>
                <div class="col-lg-4 col-md-5 col-xs-5">
                    <button class="btn btn-blue" ng-click="editInsurancepolicyPremiums()"><i class="ti ti-pencil"></i>Edit</button>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-lg-8 col-md-7 col-xs-7">
                    <span class="font-medium"><strong>Dividends re-invested</strong></span>
                    <p>
                        {{client.currency}} {{client.cashInFlow.dividendsReInvested | number}}
                    </p>
                </div>
                <div class="col-lg-4 col-md-5 col-xs-5">
                    <button class="btn btn-blue" ng-click="editDividendsReInvested()"><i class="ti ti-pencil"></i>Edit</button>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-lg-8 col-md-7 col-xs-7">
                    <span class="font-medium"><strong>Interest received from investments</strong></span>
                    <p>
                        {{client.currency}} {{client.cashInFlow.investmentInterest | number}}
                    </p>
                </div>
                <div class="col-lg-4 col-md-5 col-xs-5">
                    <button class="btn btn-blue" ng-click="editInvestmentInterest()"><i class="ti ti-pencil"></i>Edit</button>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-lg-8 col-md-7 col-xs-7">
                    <span class="font-medium"><strong>Net Surpluses from businesses reinvested</strong></span>
                    <p>
                        {{client.currency}} {{client.cashInFlow.reInvestedBusinessesNetSurpluses | number}}
                    </p>
                </div>
                <div class="col-lg-4 col-md-5 col-xs-5">
                    <button class="btn btn-blue" ng-click="editReInvestedBusinessesNetSurpluses()"><i class="ti ti-pencil"></i>Edit</button>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-lg-8 col-md-7 col-xs-7">
                    <span class="font-medium"><strong>Monthly Contributions from Salary invested</strong></span>
                    <p>
                        {{client.currency}} {{client.cashInFlow.salaryMonthlyContributions | number}}
                    </p>
                </div>
                <div class="col-lg-4 col-md-5 col-xs-5">
                    <button class="btn btn-blue" ng-click="editSalaryMonthlyContributions()"><i class="ti ti-pencil"></i>Edit</button>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-lg-8 col-md-7 col-xs-7">
                    <span class="font-medium"><strong>Rentals from properties reinvested</strong></span>
                    <p>
                        {{client.currency}} {{client.cashInFlow.propertyRentals | number}}
                    </p>
                </div>
                <div class="col-lg-4 col-md-5 col-xs-5">
                    <button class="btn btn-blue" ng-click="editPropertyRentals()"><i class="ti ti-pencil"></i>Edit</button>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-lg-8 col-md-7 col-xs-7">
                    <span class="font-medium"><strong>Additional income from part-time work in retirement</strong></span>
                    <p>
                        {{client.currency}} {{client.cashInFlow.partTimeWork | number}}
                    </p>
                </div>
                <div class="col-lg-4 col-md-5 col-xs-5">
                    <button class="btn btn-blue" ng-click="editPartTimeWork()"><i class="ti ti-pencil"></i>Edit</button>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-lg-8 col-md-7 col-xs-7">
                    <span class="font-medium"><strong>Other income including Honoraria, sitting allowances, etc</strong></span>
                    <p>
                        {{client.currency}} {{client.cashInFlow.other | number}}
                    </p>
                </div>
                <div class="col-lg-4 col-md-5 col-xs-5">
                    <button class="btn btn-blue" ng-click="editOther()"><i class="ti ti-pencil"></i>Edit</button>
                </div>
            </div>
        </li>

    </ul>
</div>
</div>
