<div class="full-screen register">

      <nav class="navbar navbar-ct-transparent navbar-fixed-top" role="navigation-demo" id="register-navbar">
          <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#/">Retirement Planning Center</a>
              </div>

          </div><!-- /.container-->
      </nav>

      <div class="wrapper">
          <div class="background bg-indigo-dark">
              <div class="container">
                  <div class="row">
                      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                          <div class="demo-card" style="text-align: center">
                              <div class="description font-dark">
                                  <h3><strong>Registration</strong></h3>
                                  <p>Your details have been successfully submited</p>
                                  <div class="icon">
                                      <i class="fa fa-thumbs-up fa-5x"></i>
                                  </div>
                                  <h3><strong>Account activation</strong></h3>
                                  <p>
                                      We have sent you an email, check your email
                                      to activate your account.
                                  </p>

                              </div>
                          </div>

                      </div>

                  </div>
              </div>

              <div class="demo-footer text-center">
                  <h6>&copy; 2017, Retirement Planning Center.</h6>
              </div>
          </div>
      </div>
  </div>
