<div class="full-screen register">

<div class="header-wrapper">

        <nav class="navbar navbar-ct-transparent" role="navigation-demo">
                <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                                <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                </button>-->
                                <a class="navbar-brand" href="#/website/home">Retirement Planning Center</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="navigation-example-2">
                                <ul class="nav navbar-nav navbar-right">
                                        <a href="#" class="navbar-brand font-white">Sign In</a>
                                        <a href="#" class="navbar-brand"><i class="fa fa-twitter"></i></a>
                                        <a href="#" class="navbar-brand"><i class="fa fa-facebook"></i></a>
                                </ul>
                        </div><!-- /.navbar-collapse -->
                </div><!-- /.container-->
        </nav>
</div>
        <div class="wrapper">
            <div class="background bg-indigo-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-1 col-sm-7 col-xs-12">
                            <div class="info info-horizontal">
                                <!--<div class="icon">
                                    <i class="fa fa-umbrella"></i>
                            </div>-->
                                <div class="description">
                                    <h2> We've got you covered </h2>
                                    <p>
                                        Our national team of 100+ credentialed
                                        experts (consultants, financial planners
                                        and advisors, Attorneys, etc.) works
                                        together to ensure our clients are
                                        maximizing retirement savings
                                        opportunities and minimizing taxes
                                    </p>
                                </div>
                            </div>
                            <div class="info info-horizontal">
                                <!--<div class="icon">
                                    <i class="fa fa-exchange"></i>
                            </div>-->
                                <div class="description">
                                    <h2> National Network Local Experts </h2>
                                    <p>
                                        With 100+ experts located across the
                                        country, RPC delivers local services to
                                        its 1000+ clients, backed by the
                                        strength of its national
                                        resources—people, technology and
                                        operational protocol.
                                    </p>
                                </div>
                            </div>
                            <div class="info info-horizontal">
                                <!--<div class="icon">
                                    <i class="fa fa-smile-o"></i>
                            </div>-->
                                <div class="description">
                                    <h2>Our Relationships</h2>
                                    <p>
                                        We value personal relationships and, as
                                        an independent advisors, we are able to
                                        truly advocate for our clients and
                                        financial intermediary partners. You
                                        can call or email us directly anytime
                                        for any reason.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-5 col-xs-12">
                            <div class="demo-card">
                                <h2 class="title text-center font-dark">Register</h2>
                                <div class="social">
                                    <button href="#" class="btn btn-fill btn-icon btn-facebook"><i class="fa fa-facebook"></i></button>
                                    <button href="#" class="btn btn-fill btn-icon btn-google"><i class="fa fa-google"></i></button>
                                    <button href="#" class="btn btn-fill btn-icon btn-twitter"><i class="fa fa-twitter"></i></button>
                                </div>

                                <div class="division">
                                    <div class="line l"></div>
                                    <span>or</span>
                                    <div class="line r"></div>
                                </div>
                                <form class="register-form">
                                    <input type="text" class="form-control" placeholder="Firstname" ng-model="client.firstname" required>

                                    <input type="text" class="form-control" placeholder="Lastname" ng-model="client.lastname" required>

                                    <input type="text" class="form-control" placeholder="Email" ng-model="client.email" required>

                                    <input type="password" class="form-control" placeholder="Password" ng-model="client.password" required>

                                    <input type="password" class="form-control" placeholder="Confirm Password" ng-model="client.passwordConfirm" required>

                                    <a class="btn btn-block btn-blue" href="" ng-click="startRegistration()">Register</a>
                                </form>
                                <div class="login">
                                    <p class="font-dark">Already have an account? <a href="#/signin" class="font-indigo">Log in</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="demo-footer text-center">
                    <p>&copy; 2017, Retirement Planning Center.</p>
                </div>
            </div>
        </div>
    </div>
