<div class="full-screen register">

<div class="header-wrapper">

        <nav class="navbar navbar-ct-transparent" role="navigation-demo">
                <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                                <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                </button>-->
                                <a class="navbar-brand" href="#!/website/home">Retirement Planning Center</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling
                        <div class="collapse navbar-collapse" id="navigation-example-2">
                                <ul class="nav navbar-nav navbar-right">
                                        <a href="#" class="navbar-brand font-white">Sign In</a>
                                        <a href="#" class="navbar-brand"><i class="fa fa-twitter"></i></a>
                                        <a href="#" class="navbar-brand"><i class="fa fa-facebook"></i></a>
                                </ul>
                        </div></.navbar-collapse -->
                </div><!-- /.container-->
        </nav>
</div>
        <div class="wrapper">
            <div class="background bg-indigo-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-7 col-xs-12">
                            <div class="info info-horizontal">
                                <!--<div class="icon">
                                    <i class="fa fa-umbrella"></i>
                            </div>-->
                                <div class="description">
                                    <h2> We've got you covered </h2>
                                    <p>
                                        Our national team of 100+ credentialed
                                        experts (consultants, financial planners
                                        and advisors, Attorneys, etc.) works
                                        together to ensure our clients are
                                        maximizing retirement savings
                                        opportunities and minimizing taxes
                                    </p>
                                </div>
                            </div>
                            <div class="info info-horizontal">
                                <!--<div class="icon">
                                    <i class="fa fa-exchange"></i>
                            </div>-->
                                <div class="description">
                                    <h2> National Network Local Experts </h2>
                                    <p>
                                        With 100+ experts located across the
                                        country, RPC delivers local services to
                                        its 1000+ clients, backed by the
                                        strength of its national
                                        resources—people, technology and
                                        operational protocol.
                                    </p>
                                </div>
                            </div>
                            <div class="info info-horizontal">
                                <!--<div class="icon">
                                    <i class="fa fa-smile-o"></i>
                            </div>-->
                                <div class="description">
                                    <h2>Our Relationships</h2>
                                    <p>
                                        We value personal relationships and, as
                                        an independent advisors, we are able to
                                        truly advocate for our clients and
                                        financial intermediary partners. You
                                        can call or email us directly anytime
                                        for any reason.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-5 col-xs-12">
                            <div class="demo-card">
                                <h2 class="title text-center dark-font">Register</h2>
                                <!--<div class="social">
                                    <button href="#" class="btn btn-fill btn-icon btn-facebook"><i class="fa fa-facebook"></i></button>
                                    <button href="#" class="btn btn-fill btn-icon btn-google"><i class="fa fa-google"></i></button>
                                    <button href="#" class="btn btn-fill btn-icon btn-twitter"><i class="fa fa-twitter"></i></button>
                                </div>-->
<!--
                                <div class="division">
                                    <div class="line l"></div>
                                    <span>or</span>
                                    <div class="line r"></div>
                                </div>-->
                                <form class="register-form" ng-submit="startRegistration()" name="signupForm">
                                  <label class="font-dark md-font">Name</label>
                                  <div class="row">
                                    <div class="col-md-6">
                                      <div class="">
                                        <input type="text" class="form-control" name="firstname" placeholder="First" ng-model="client.firstname" required>
                                        <span class="font-red" ng-show="signupForm.firstname.$touched && signupForm.firstname.$invalid">
                                            <span ng-show="signupForm.firstname.$error.required">Your firstname is required.</span>
                                        </span>
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="">
                                        <input type="text" class="form-control" name="lastname" placeholder="Last" ng-model="client.lastname" required>
                                        <span class="font-red" ng-show="signupForm.lastname.$touched && signupForm.lastname.$invalid">
                                            <span ng-show="signupForm.lastname.$error.required">Your lastname is required.</span>
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                                  <label class="font-dark md-font">Birthday</label>
                                  <div class="row">
                                    <div class="col-md-6">
                                      <div class="">
                                        <p class="">
                                          <select class="form-control" ng-model="client.birthmonth">
                                              <option disabled="" selected="">Month</option>
                                              <option value="01" >January</option>
                                              <option value="02">February</option>
                                              <option value="03">March</option>
                                              <option value="04">April</option>
                                              <option value="05">May</option>
                                              <option value="06">June</option>
                                              <option value="07">July</option>
                                              <option value="08">August</option>
                                              <option value="09">September</option>
                                              <option value="10">October</option>
                                              <option value="11">November</option>
                                              <option value="12">December</option>
                                          </select>

                                        </p>
                                      </div>
                                    </div>
                                    <div class="col-md-3">
                                      <div class="">
                                          <input type="text" class="form-control" name="day "placeholder="Day" ng-model="client.birthday" mask="39" restrict="reject" clean="true" required>
                                          <span class="font-red" ng-show="signupForm.day.$touched && signupForm.day.$invalid">
                                              <span ng-show="signupForm.day.$error.required">day required.</span>
                                          </span>
                                      </div>
                                    </div>
                                    <div class="col-md-3">
                                      <div class="">
                                          <input type="text" class="form-control" name="year" placeholder="Year" ng-model="client.birthyear" mask="1999" restrict="reject" clean="true" required>
                                          <span class="font-red" ng-show="signupForm.year.$touched && signupForm.year.$invalid">
                                              <span ng-show="signupForm.year.$error.required">year required.</span>
                                          </span>
                                      </div>
                                    </div>
                                  </div>
                                  <label class="font-dark md-font">Email address</label>
                                  <div class="row">
                                    <div class="col-md-12">
                                      <div class="">
                                        <input type="email" name="email" class="form-control" placeholder="Enter your email address" ng-model="client.email" required>
                                        <span class="font-red" ng-show="signupForm.email.$touched && signupForm.email.$invalid">
                                            <span ng-show="signupForm.email.$error.required">Your email is required.</span>
                                            <span ng-show="signupForm.email.$error.email">Invalid email address.</span>
                                        </span>
                                      </div>
                                    </div>
                                  </div>

                                  <label class="font-dark md-font">Create your password</label>
                                  <div class="row">
                                    <div class="col-md-12">
                                      <div class="">
                                        <input type="password" name="password" class="form-control" placeholder="Create your password" ng-model="client.password" required>
                                        <span class="font-red" ng-show="signupForm.password.$touched && signupForm.password.$invalid">
                                            <span ng-show="signupForm.password.$error.required">your password is required.</span>
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                                  <label class="font-dark md-font">Confirm your password</label>
                                  <div class="row">
                                    <div class="col-md-12">
                                      <div class="">
                                        <input type="password" name="passwordConfirm" ng-blur="checkPassword()" class="form-control" placeholder="Confirm your password" ng-model="client.passwordConfirm" required>
                                        <span class="font-red" ng-show="signupForm.passwordConfirm.$touched && signupForm.passwordConfirm.$invalid">
                                            <span ng-show="signupForm.password.$error.required">your password is required.</span>
                                        </span>
                                        <span class="font-red" ng-show="isNotConfirmed">Oops! Passwords missmatch</span>
                                      </div>
                                    </div>
                                  </div>
                                  <label class="font-dark md-font">Sex</label>
                                  <div class="row">
                                    <div class="col-md-12">
                                      <div class="">
                                        <p class="">
                                          <select class="form-control" ng-model="client.sex">
                                              <option disabled="" selected="">Choose your gender</option>
                                              <option value="Female" >Female</option>
                                              <option value="Male">Male</option>
                                              <option value="Other">Other</option>
                                          </select>

                                        </p>
                                      </div>
                                    </div>
                                  </div>
                                    <button class="btn btn-block btn-blue" ng-disabled="signupForm.$invalid && test" type="submit" >Register</button>
                                </form>
                                <div class="login">
                                    <p class="font-dark">Already have an account? <a href="#!/signin" class="font-indigo">Log in</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="demo-footer text-center">
                    <p>&copy; {{date}}, Retirement Planning Center.</p>
                </div>
            </div>
        </div>
    </div>
